<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>
<body>
    <div class="cont">
        <h2>this is hjtml using pug.</h2>
    </div>
    <div>
        |#{content}
    </div>
</body>
</html>