<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Pug explanation</title> -->
    <title>#{title}</title>
</head>
style 
    include ../static/all.css
<body>
    <h2>This is plain html using pug...</h2>
    <nav>
        <ul>
                <li><a href="/">home</a></li>
                <li><a href="/">about</a></li>
                <li><a href="/">stats</a></li>
        </ul>
    </nav>
    <div class="cont">
        <p>
            <!-- this is the pug explanation. -->
            |#{content}
        </p>
    </div>
</body>
</html>