*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 45px;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(41, 1, 66);
  color: aliceblue;
}